<!DOCTYPE html>
<html>
<head>
  <title>Holla</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
  <%= meta_tag "handle", current_user.try(:nickname) || "" %>
  <%= javascript_include_tag :juggernaut, "application" %>
</head>
<body>
  <header id="title">
    <h1><%= Settings.company_name %>:chat</h1>    
      <span class="user-block">
        <% if current_user %>
          <%= image_tag current_user.image %>
          <span class="user-name"><%= current_user.nickname %></h4>
          <%= link_to "Logout", logout_path, :class => "logout-link" %>
        <% else %>
          <%= link_to "Login via Twitter", login_path, :class => "login-link" %>
        <% end %>
      </span>
  </header>
  
  <div id="wrapper">
    <div id="sidebar">
      <h3>Channels</h3>
      <ul id="channels">
      </ul>

      <% if current_user %>
        <h3>Options</h3>
        <ul id="options">
          <li data-name="settings">Settings</li>
        </ul>
        <h3>Search</h3>
        <input type="search" results="0" incremental="true" placeholder="Search">
      <% end %>
    </div>
    
    <div class="vdivide"></div>
  
    <div id="content">
      <div id="messages">
        <ul class="items">
        </ul>
        
        <% if current_user %>
          <div class="new">
            <textarea></textarea>
            <button>Send</button>
          </div>
        <% end %>
      </div>
      
      <div id="searches">
        <h2>Search results: <span class="query"></span></h2>
        <ul class="items"></ul>
      </div>
      
      <div id="settings">
        <h2>Channels</h2>
        <ul class="channels">    
        </ul>
        
        <h2>Create Channel</h2>
        <div class="createChannel">
          <form>
            <input type="text" placeholder="Channel name">
            <button class="pill">New Channel</button>
          </form>
        </div>

        <h2>Profile</h2>

        <div><%= link_to "Logout", logout_path %></div>
      </div>
    </div>
  </div>
  
  <%= script_template "message" %>
  <%= script_template "channels" %>
  <%= script_template "edit_channel" %>
  <%= script_template "search" %>
</body>
</html>
